@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face{
    font-family: 'AUBREY';
    src: url("../fonts/AUBREY.TTF") format('truetype')
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('http://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

*{
    margin: 0;
    padding: 0;
   
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

body{
    font-size: 15px;
    min-width: 1350px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #444939;
}


/*font*/

.font11{
    font-size: 11px;
}
.font18{
    font-size: 18px;
}

.font22{
    font-size: 22px;
}

.font24{
    font-size: 24px;
}
.font26{
    font-size: 26px;
    line-height: 23px;
}

.font26_map{
    font-size: 26px;
    padding-bottom: 10px;
}

.font28{
    font-size: 28px;
    line-height: 50px;
    font-weight: 500;
}

.font36{
    font-size: 37px;
}

.font42{
    font-size: 42px;
}

.font50{
    font-size: 50px;
}

.aubrey{
    font-family: 'AUBREY';
}

.s_core3{
    font-family: 'S-CoreDream-4Regular';
}

.noto600{
    font-weight: 600;
}
.e_green{
    color: #838c6e;
}

.bold{
    font-weight: bold;
}


/*float*/

.float_l{
    float: left;
}

.float_r{
    float: right;
}

.clear{
    clear: both;
}

/*header*/

#nav{
    /*position: absolute;*/
    position: fixed;
    display: block;
    transition: top 0.3s;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255,0.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

.downdown {
    position:fixed;
    animation: down 0.3s ease;
}
@keyframes down {
    0%{
      transform: translateY(-50px)
    }
    100%{
      transform: translateY(0px)
    }  
}

.nav_inner{
    width: 1100px;
    margin: 0 auto;
}

.nav_inner ul {
    float: right;
}

.logo{
    float: left;
    padding-top: 41px;
}

.nav_inner ul li{
    float: left;
    font-weight: bold;
    color: #444939;
    padding: 50px 20px;
}

.nav_inner ul li:nth-child(5){
    padding-top: 40px;
    padding-right: 0;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #a9d167;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}


/*sub3_banner*/

#sub3_banner{
    background: url(../images/banner_img.png) no-repeat top center;
    height: 625px;
}

.bn_inner{
    text-align: center;
    margin: 0 auto;
    padding-top: 290px;
}

.bn_inner p{
    letter-spacing: 20px;
    padding-bottom: 10px;
}


/*---------------------------------------------------*/
/*	06) SHANE PORTFOLIO
/*---------------------------------------------------*/

.shane_tm_section{
    width: 1320px;
    margin: 0 auto;
}
.shane_tm_title .title_flex{
	width: 100%;
	height: auto;
	clear: both;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.shane_tm_portfolio .portfolio_filter ul{
	margin-bottom: 15px;

}
.shane_tm_portfolio .portfolio_filter ul li{
	margin: 0px 25px 0px 0px;
	display: inline-block;
}
.shane_tm_portfolio .portfolio_filter ul li:last-child{
    margin-right: 0px;
    padding-left: 750px;
}

.shane_tm_portfolio .portfolio_filter ul li img{
    padding-left: 15px;
}

.shane_tm_portfolio{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 150px 0px 50px 0px;
}
.shane_tm_portfolio .portfolio_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 89px;
}

.shane_tm_portfolio .portfolio_list ul li{
	margin: 0px 0px 50px 0px;
	width: 320px;
	float: left;
	padding-left: 25px;
    box-sizing: border-box;
}
.shane_tm_portfolio .portfolio_list ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	overflow: hidden;
}
.shane_tm_portfolio .portfolio_list .image{position: relative;}
.shane_tm_portfolio .portfolio_list .inner img{min-width: 100%;}
.shane_tm_portfolio .portfolio_list .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    clip-path: inset(0 0 0 0);
	
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
	     -o-transition: all .3s ease-in-out;
	        transition: all .3s ease-in-out;
}
/*.shane_tm_portfolio .portfolio_list ul li .inner:hover .main{
     clip-path: inset(2% 2% 2% 2%); 
}*/
.shane_tm_portfolio_titles {
	white-space: nowrap;
	background: #ffffff;
	font-size: 18px;
	padding: 5px 15px;
	font-weight: 600;
	color: #000;
	position: fixed;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
}
.shane_tm_portfolio_titles.visible {
	opacity: 1;
	visibility: visible;
}
.shane_tm_portfolio_titles .work__cat {
	position: absolute;
	background: #ffffff;
	top: 100%;
	left: 0;
	margin-top: -10px;
	font-size: 15px;
	font-weight: 500;
	padding: 5px 15px;
}
.entry{position: relative;}
.shane_tm_portfolio .mobile_title{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 20px;
	display: none;
}

.center{
    text-align: center;
    padding-top: 25px;
}




.shane_tm_portfolio .portfolio_list ul li.design3{
    height:0;
    overflow: hidden;
    margin: 0;
}
.shane_tm_portfolio .portfolio_list ul li.design2{
    width: 100%;
    margin: 0;
    padding: 0;
}

.shane_tm_portfolio .portfolio_list ul li.design2 p{
    margin: 0;
    padding: 0;
    padding-top: 55px;
    margin-left: 30px;   
}

.shane_tm_portfolio .portfolio_list ul li.design2 p span{
    padding-right: 20px;
}

.shane_tm_portfolio .portfolio_list ul li.design2 img{
    width: 121px;
    padding-right: 20px;
}


#orto_text{
    margin-top: 50px;
}

/*footer*/

footer{
    background: #f6f8f4;
}

.footer_inner{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}

.font30{
    font-size: 30px;
}

footer span{
    font-weight: bold;
}

footer ul li{
    float: left;
    padding-right: 10px;
}

.f_first{
    height: 40px;
    padding: 20px 0;
}

.f_second{
    height: 25px;
    padding-bottom: 20px;
}

.f_second ul{
    padding-right: 10px;
}

.f_icon a{
    display: inline-block;
    vertical-align: middle;
}

.f_icon a{
    padding-left: 15px;
}

footer p{
    padding-bottom: 10px;
}


/*nav .on*/

#nav.on{
    background: #fff;
    transition: all 0.3s;
}

.on>.nav_inner ul li{
    padding: 20px 20px;
    transition: all 0.3s;
}

.on>.nav_inner ul li:nth-child(5){
    padding-top: 13px;
}

.on>.nav_inner ul {
    height: 70px;
    transition: all 0.3s;
}

.on>.nav_inner .logo{
    padding-top: 12px;
}